<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e0d566d8-cb2f-4871-8b3e-c16efadbe396/resourceGroups/APIRestModel20221016023509ResourceGroup/providers/Microsoft.Web/sites/TwitterCloneAPI</ResourceId>
    <ResourceGroup>APIRestModel20221016023509ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/e0d566d8-cb2f-4871-8b3e-c16efadbe396/resourceGroups/APIRestModel20221016023509ResourceGroup/providers/Microsoft.ApiManagement/service/TwitterCloneAPIManagement/apis/twittercloneapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://twittercloneapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>10b602a3-0bd2-4284-8984-7e4293f37f16</ProjectGuid>
    <MSDeployServiceURL>twittercloneapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TwitterCloneAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$TwitterCloneAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>