<ion-header>
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</ion-header>
<ion-content>
  <div style="height:10rem;color: red; background-color: #3dc2ff;">
  </div>
  <div class="container">
  <div class="row">
    <div class="col-6">
    <ion-avatar style="margin-top:-4rem;width: 8rem;height: 8rem;margin-right: 2rem;" >
      <img src="assets/img/profile/user.jpg">
    </ion-avatar>
    </div>
    <div class="col-6">
      <div class="container">
      <div class="col-6">
        <button class="btn" style="padding-left:-2rem;margin-top: 2rem;">
        EDIT PROFILE
      </button>
      </div>
      <div class="col-6">
      <ion-icon name="build-outline" style="margin-left: 6rem; margin-top: -10rem;" size="large"></ion-icon>
      </div>
      </div>
      </div> 
  </div>
  </div>
  
</ion-content>