<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-item>
      <ion-avatar >
        <img  src="assets/img/foto.jpeg" />
      </ion-avatar>
      <ion-searchbar  placeholder="Buscar en Twitter"></ion-searchbar>
      <ion-icon  name="settings-outline"></ion-icon>
    </ion-item>
  </ion-header>
  
<ion-img src="assets/img/imagen.png"></ion-img>
<ion-item>
<ion-label>Tendencias para ti</ion-label></ion-item>
<ion-list>
  <ion-item>
    <ion-label>
      <p>Tendencia en Chile</p>
      <h2>Plaza Baquedano</h2>
    </ion-label>
    <ion-icon  name="ellipsis-horizontal-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>
      <p>Tendencia en Chile</p>
      <h2>#BoricDemente</h2>
      <p></p>
    </ion-label>
    <ion-icon  name="ellipsis-horizontal-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>
      <p>Tendencia en Chile</p>
      <h2>El 70%</h2>
      <p>24.5 mil Tweets</p>
    </ion-label>
    <ion-icon  name="ellipsis-horizontal-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>
      <p>Tendencia en Chile</p>
      <h2>#Ñuñoa</h2>
      <p> </p>
    </ion-label>
    <ion-icon  name="ellipsis-horizontal-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>
      <p>Tendencia en Chile</p>
      <h2>Don Francisco</h2>
      <p>6.115 Tweets</p>
    </ion-label>
    <ion-icon  name="ellipsis-horizontal-outline"></ion-icon>
  </ion-item>
</ion-list>
<ion-item>
  <ion-label color="primary">Mostrar más</ion-label>
</ion-item>

</ion-content>