<ion-header>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <ion-toolbar color="danger">
    <div>
      <ion-searchbar color="danger" placeholder="search bandcamp"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="discover">
    <ion-label>
      DISCOVER
    </ion-label>
  </div>
  <div style="height: 4rem;" class="container">
    <div class="row" style="background-color: rgb(215, 85, 85); overflow: hidden; height: 4rem;">
      <div class="col" style="margin-top: 1.2rem;margin-left:0.5rem">
    <ion-label style="color: white;">
      Post Rock
    </ion-label>
    </div>
    <div class="col">
    <ion-img src="assets/img/mogwai.jpg" style="height: 4rem; width: 3rem; border-radius: 50%;transform: rotate(-18deg); margin-top: 1.2rem;margin-left: 1.2rem;"></ion-img>
    </div>
    <div class="col">
    <ion-img src="assets/img/mogwai.jpg" style="height: 4rem; width: 3rem; border-radius: 50%; margin-top: 0.8rem;margin-left:-2rem;transform: rotate(-3deg);"></ion-img>
    </div>
    <div class="col" style="margin-left:-5.3rem">
      <ion-img src="assets/img/mogwai.jpg" style="height: 4rem; width: 3rem; border-radius: 50%;transform: rotate(18deg); margin-top: 1.2rem"></ion-img>
      </div>
    </div>
  </div>
  <div style="height: 4rem;" class="container">
    <div class="row" style="background-color: rgb(227, 142, 225); overflow: hidden; height: 4rem;">
      <div class="col" style="margin-top: 1.2rem;margin-left:0.5rem">
    <ion-label style="color: white;">
      Post Rock
    </ion-label>
    </div>
    <div class="col">
    <ion-img src="assets/img/mogwai.jpg" style="height: 4rem; width: 3rem; border-radius: 50%;transform: rotate(-18deg); margin-top: 1.2rem;margin-left: 1.2rem;"></ion-img>
    </div>
    <div class="col">
    <ion-img src="assets/img/mogwai.jpg" style="height: 4rem; width: 3rem; border-radius: 50%; margin-top: 0.8rem;margin-left:-2rem;transform: rotate(-3deg);"></ion-img>
    </div>
    <div class="col" style="margin-left:-5.3rem">
      <ion-img src="assets/img/mogwai.jpg" style="height: 4rem; width: 3rem; border-radius: 50%;transform: rotate(18deg); margin-top: 1.2rem"></ion-img>
      </div>
    </div>
  </div>
    
</ion-content>
