<ion-header>
  <ion-toolbar>
    <ion-title>Pagina Principal</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content> 
  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button href="/tablinks/inicio">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button href="/tablinks/catalogo">
        <ion-icon name="disc-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button href="/tablinks/perfil">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
