<ion-header>
  <ion-toolbar>
<br>
    <ion-title>BANDCAMP</ion-title>
  </ion-toolbar>
</ion-header>
<ion-header>

</ion-header>
<ion-content>
  <ion-img src="assets/img/mycrofon.jpg"></ion-img>


<ion-card>
  <img src="assets/img/amy_winehouse.jpg">
  <ion-card-header> 
    <ion-card-subtitle>Back to Black año 2006</ion-card-subtitle>
    <ion-card-title>Amy wenhouse </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Su promoción abarcó el lanzamiento de cinco sencillos: «Rehab», «You Know I'm No Good», «Back to Black», «Tears Dry on Their Own» y «Love Is a Losing Game», siendo el primero de ellos el más exitoso.
  </ion-card-content>
</ion-card>

<ion-card>
  <img src="assets/img/coldplay.jpg">
  <ion-card-header> 
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>ColdPlay</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Coldplay - A Head Full of Dreamsionic
  </ion-card-content>
</ion-card>

<ion-card>
  <img src="assets/img/amy_winehouse.jpg">
  <ion-card-header> 
    <ion-card-subtitle>Back to Black año 2006</ion-card-subtitle>
    <ion-card-title>Amy wenhouse </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Su promoción abarcó el lanzamiento de cinco sencillos: «Rehab», «You Know I'm No Good», «Back to Black», «Tears Dry on Their Own» y «Love Is a Losing Game», siendo el primero de ellos el más exitoso.
  </ion-card-content>
</ion-card>
</ion-content>