.my-toolbar {
    --background: #00acee;
}

.back-button {
    --color: white;
    --background: rgba(0, 0, 0, 0.568);
}

.editar-button {
    --background: white;
    --border-radius: 20px;
    --border-color: rgba(0, 0, 0, 0.281);
    --border-style: solid;
    --border-width: 1px;
}