<ion-header>
  <ion-toolbar class="my-toolbar" style="height:8rem;">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline" defaultHref="home" class="back-button"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button text="" icon="search-outline" defaultHref="" class="back-button" style="margin-right: 1rem;">
      </ion-back-button>
      <ion-back-button text="" icon="ellipsis-vertical-outline" defaultHref="" class="back-button"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </ion-col>
      <ion-col size="6">
        <ion-button text="" defaultHref="home" class="editar-button" style="" shape="round"
          style="width:80%;font-size:x-small;margin-left: 1.5rem;font-weight: bold;color: black;">
          Editar perfil
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-label style="font-weight: bold;">Nickname</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" style="margin-top: -0.6rem;">
        <ion-note>@Username</ion-note>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" style="margin-top: 1rem;">
        <ion-note>
          <ion-icon name="calendar-outline"></ion-icon>
          Se unio en @mes de @año
        </ion-note>
      </ion-col>
    </ion-row>
    <ion-row size="12">
      <ion-col size="5">
        <div style="margin-right: 1rem;">
          <ion-label style="font-size: 0.6rem;font-weight: bold;">1,480 </ion-label>
          <ion-label style="font-size: 0.6rem;">Siguiendo</ion-label>
        </div>
      </ion-col>
      <ion-col size="7">
        <div style="margin-right: 2rem;">
          <ion-label style="font-size: 0.6rem;font-weight: bold;">148 </ion-label>
          <ion-label style="font-size: 0.6rem;">Seguidos</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button>
    Tweets
  </ion-button>
  <div *ngFor="let tweet of tweets">
    <!-- <ion-card >
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card> -->
    <ion-row class="wrapper">
      <ion-col size="3">
        <ion-avatar>
          <ion-img [src]="tweet.img" style="height:60%;width:60%;"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="9">
        <ion-row class="tweet-info">
          <ion-col size="12">
            <span class="name" style="font-size: 0.8rem;">{{ tweet.username }}</span>
            <span class="handle" style="font-size: 0.8rem;">@{{ tweet.handle }}</span>
            <span class="handle" style="font-size: 0.8rem;">- {{ tweet.date*1000 | date: 'shortDate' }}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div style="font-size: 0.8rem;" [innerHtml]="tweet.text"></div>
            <img class="preview-img" [src]="tweet.attachment" *ngIf="tweet.attachment">
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-start">
          <ion-col>
            <ion-button fill="clear" color="medium" size="small">
              <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
              {{ tweet.response }}
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="tweet.retweet = !tweet.retweet" fill="clear"
              [color]="tweet.retweet ? 'primary' : 'medium'" size="small">
              <ion-icon name="repeat-outline" slot="start"></ion-icon>
              {{ tweet.retweets }}
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="tweet.liked = !tweet.liked" fill="clear" [color]="tweet.liked ? 'primary' : 'medium'"
              size="small">
              <ion-icon name="heart-outline" slot="start"></ion-icon>
              {{ tweet.like }}
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="clear" color="medium" size="small">
              <ion-icon name="share-outline" slot="start"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-content>