<br>
<br>
<br>
<br>
<ion-content class="has-header">
  <div *ngFor="let tweet of tweets">
    <ion-row class="wrapper">
      <ion-col size="3">
        <ion-avatar>
          <ion-img src={{profile.urlImage}} style="height:80%;width:80%;"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="9">
        <ion-row class="tweet-info">
          <ion-col size="12">
            <span class="name">Generic name</span>
            <span class="handle">@Generic name</span>
            <span class="handle">- {{tweet.fecha | date: 'dd/MM/yyyy'}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div [innerHtml]="tweet.texto"></div>
            <img class="preview-img" [src]="tweet.attachment" *ngIf="tweet.attachment">
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-start">
          <ion-col>
            <ion-button fill="clear" color="medium" size="small">
              <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
              {{ tweet.respuestas }}
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="tweet.retweet = !tweet.retweet" fill="clear" [color]="tweet.retweet ? 'primary' : 'medium'" size="small">
              <ion-icon name="repeat-outline" slot="start"></ion-icon>
              {{ tweet.retweets }}
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="tweet.liked = !tweet.liked" fill="clear" [color]="tweet.liked ? 'primary' : 'medium'" size="small">
              <ion-icon name="heart-outline" slot="start"></ion-icon>
              {{ tweet.likes }}
            </ion-button>
          </ion-col>
          <!-- <ion-col>
            <ion-button fill="clear" color="medium" size="small">
              <ion-icon name="share-outline" slot="start"></ion-icon>
            </ion-button>
          </ion-col> -->
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-content>